<!DOCTYPE html>
<html lang="en">
<head>
    {{>link}}
</head>
<body>
 {{>Navbar}}


    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
              <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="Home.svg" class="img-fluid" title="Digvesh Dadhaniya">
                </figure>
              </div>
            <div class="col-md-6 col-12 main_header_left">
                <p>My name is Digvesh Dadhaniya</p>
                <h1>Study <span class="text-color">Computer Software </span>in gcet</h1>
                  
            </div>
            
          </div>


        </div>

      </div>

    </div>

    
    

    {{>footer}}
</body>
</html>